astroid==3.3.10
attrs==23.2.0
black==24.10.0
click==8.1.7
dill==0.3.8
exceptiongroup==1.2.2
graphviz==0.20.3
igraph==0.11.4
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
prettytable==3.10.0
psycopg2==2.9.10
pylint==3.1.0
pytest==8.3.4
texttable==1.7.0
tomli==2.0.2
typing-extensions==4.11.0
wcwidth==0.2.13
wrapt==1.16.0
