astroid==3.3.10
attrs==23.2.0
black==24.10.0
click==8.1.8
dill==0.3.8
exceptiongroup==1.2.2
graphviz==0.21
igraph==0.11.9
iniconfig==2.1.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.5.0
prettytable==3.10.0
psycopg2==2.9.10
pylint==3.3.7
pytest==8.4.1
texttable==1.7.0
tomli==2.2.1
typing-extensions==4.14.1
wcwidth==0.2.13
wrapt==1.17.2
